html,body{box-sizing: border-box;
}

body{margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    background-color:antiquewhite
}

header{margin:0 auto;
    height:100px;
    text-align: center;
    width:90%;
}

#headpic{height:75%;
width:100%;}

.header{margin: auto;
    display: inline;
    width:75%;
    height: 20%;
}

main{
    margin:0 auto;
height: 75%;
    width:90%;
    }

article{margin: auto;
height: 100px;}

#box_p{
    margin:0;
padding:0;
float:left;
    height:50px;
}


#img_blue{
    margin:0;
    padding:0;
    float:left;
    
}

#click_box{
    margin:0 auto;
    padding:0;
    float:right;
    height:;
    width: 25%;
    
}
div:hover{
    opacity:0.5;
}


#top_left{
    float:left;
    width:50%;
    height:;
    background-color:aqua;
    width:calc(100%/4);
    
}

    #top_right{
        width:calc(100%/4);
        float:left;
        width:50%;
    height:25%;
    background-color:aqua;
}

#bottom_left{
    width:calc(100%/4);
    float:left;
    width:50%;
    height:25%;
    background-color:aqua;
}

#bottom_right{
width:calc(100%/4);
    float:right;
    width:50%
    background-color:aqua;
    
}




ul{
    background-color:orange;
}
footer{
    margin:0 auto;
 width:90%;
    background-color:firebrick;
}